.answer-button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 70px;
    text-align: left;
  }
  
  .answer-button.selected {
    background-color: #641079;
  }
  
  .answer-button.correct {
    background-color: rgba(48, 182, 48, 0.603);
  }
  
  .answer-button.wrong {
    background-color: rgba(196, 48, 48, 0.568);
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  